<!DOCTYPE html>
<html>
<head>
	<!-- 網站初始化&標題定義 -->
	<title>情緒監控-用戶介面</title>

	<meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="format-detection" content="telephone = no" />
	<meta name="keywords"  content="分組、交友、同好、專題討論" />
	<meta name="description" content="" />
	
	<!-- 快捷 & 收藏 圖標宣告 -->
		<!--
		<link 	rel="shortcut icon" 
				href="" 
				type="image/x-icon" />
						
		<link 	rel="Bookmark" 
				href="" />
		-->

	<!-- CSS引用宣告 -->

	<link href="/static/CSS/Box.css" rel="stylesheet" type="text/css" /><!--框架-->
	<link href="/static/CSS/Font.css" rel="stylesheet" type="text/css" /><!--字體形-->


	<!-- Js引用宣告 -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script><!--移動效果-->
	<script type="text/javascript" language="javascript" src="/static/JS/Move.js"></script><!--移動座標-->


</head>

<body>
	
	<!-- 整體Box -->
	<div class="Box-mainContance-Home">

		<!--左側Box 已加入的組別-->
		<div class="Box-LeftContance-Home">
			<!--Logo-->
			<div class="Box-LeftContance-Home_tableCube"
				 id="Box-LeftContance-Home_tableCube1">
				 <div class="Box-LeftContance-Home_Logo"
				 	  style="background-image: url('img/Our.png');
					   		 background-size:100% 100%;">
				 </div>
			</div>

			<!--紅點提示-->
			<div class="Box-RedDot"
				 id="Box-RedDotA"></div>
			
			<div class="Box-RedDot"
				 id="Box-RedDotB"></div>

			<!--組別1-->
			<div class="Box-LeftContance-Home_tableCube"
				 id="Box-LeftContance-Home_tableCube2">
				 <div class="Box-LeftContance-Home_JoinInGroup"
				 	  style="background-image: url('img/Group_Basketball.png');
					   		 background-size:100% 100%;">
				 </div>
			</div>

			<!--組別2-->
			<div class="Box-LeftContance-Home_tableCube"
				 id="Box-LeftContance-Home_tableCube3">
				 <div class="Box-LeftContance-Home_JoinInGroup"
				 	  style="background-image: url('img/Group_Volleyball.png');
					   		 background-size:100% 100%;">
				 </div>
			</div>

			<!--組別3-->
			<div class="Box-LeftContance-Home_tableCube"
				 id="Box-LeftContance-Home_tableCube4">
				 <div class="Box-LeftContance-Home_JoinInGroup"
				 	  style="background-image: url('img/Group_Tree.png');
					   		 background-size:100% 100%;">
				 </div>
			</div>

			<!--組別4-->
			<div class="Box-LeftContance-Home_tableCube"
				 id="Box-LeftContance-Home_tableCube5">
				 <div class="Box-LeftContance-Home_JoinInGroup"
				 	  style="background-image: url('img/Group_Book.png');
					   		 background-size:100% 100%;">
				 </div>
			</div>

			<!--組別5-->
			<div class="Box-LeftContance-Home_tableCube"
				 id="Box-LeftContance-Home_tableCube6">
				 <div class="Box-LeftContance-Home_JoinInGroup"
				 	  style="background-image: url('img/Group_Pen.png');
					   		 background-size:100% 100%;">
				 </div>
			</div>

			<!--組別6-->
			<div class="Box-LeftContance-Home_tableCube"
				 id="Box-LeftContance-Home_tableCube7">
				 groupF
			</div>

			<!--組別7-->
			<div class="Box-LeftContance-Home_tableCube"
				 id="Box-LeftContance-Home_tableCube8">
				 groupA
			</div>

		</div>

		<!--右側Box-->
		<div class="Box-RightContance-Home"><!--右側主體定義-->
			<div class="Box-RightContance-Home_CenterBox"><!--固定內容版面&置中-->

				<!--頂部Top-->
				<div class="Box-RightContance-Home_Top"
					 id="Box-RightContance-Home_Top">

					<!--搜索欄-->
					<div class="searchBox">
						<form>
							<!--輸入欄-->
							<input type="text" placeholder="   Search Group Name or ID to join in" name="name"
								style=" width: 300px;
										height:20px;
										top:5px;
										left: 0px;
										position:absolute;">
							<!--按鈕 --
							<button type="submit"
									style="width:50px;
										height: 26px;
										top:5px;
										left: 320px;
										position:absolute;"></button>	-->	
						</form>
					</div>

					<!--設置選項按鈕-->
{#                   	<a class="Box-RightContance-SettingLink" href="{% url 'main:profile_update' %}"> &#8592; HI,{{ user.username }}</a>#}
                    <img class="Box-RightContance-Home_SettingButton"
                         src="/static{{ image.image.url }}" style="background-size: 100% 100%; border-radius: 50%;">

				</div>

				<!--水平分割線-->
				<div class="Box-hr" id="Box-hrA"></div>
				
				<!--分組標題box-->
				<div class="Box-RightContance-Home_Title"
					 id="Box-RightContance-Home_TitleA">

					<!--標題A-->
					<span class="Font-Home-Title">FROM YOUR PICKS</span>
					<span	class="Font-Home-Title"
							style="font-size:50px;
								   top:13px;
								   left:290px;"> > </span>

					<!--最新&熱門按鈕-->

					<!--最新組別-->
					<div class="Box-RightContance-Home_shortCut"
						 id="Box-RightContance-Home_shortCut-NewGroup"
						 style="background-image: url('img/NewGroup.png');
								 background-size:100% 100%;"></div>

					<!--熱門組別-->
					<div class="Box-RightContance-Home_shortCut"
						 id="Box-RightContance-Home_shortCut-HotGroup"
						 style="background-image: url('img/HotGroup.png');
								background-size:100% 100%;"></div>

				</div>

				<!--主要內容A-Box -->
				<div class="Box-RightContance-Group"
					 id="Box-RightContance-GroupA">
					
					 <!--課程-->
					<div class="Box-RightContance-Group-Func"
						 id="Box-RightContance-Group-FuncA">

						<div class="Box-RightContance-Group-Photo"
							style="background-image: url('img/Banner_Course.png');
									 background-size:100% 100%;
									 border-top-left-radius: 10px;
									 border-top-right-radius: 10px"></div><!--圖片-->
						<div class="Box-RightContance-Group-TitleBox">
							 <span class="Font-Box-RightContance-Group-TitleBox"></span>
						</div> 
						<div class="Box-RightContance-Group-ContanceBox">
							<span class="Font-Box-RightContance-Group-ContanceBox">1</span>
						</div>
						<a	class="Box-RightContance-Group-Func"
							style="top:0px;"
							href="Room_List.html"></a> 
					</div>

					<!--專長-->
					<div class="Box-RightContance-Group-Func"
						 id="Box-RightContance-Group-FuncB">

						<div class="Box-RightContance-Group-Photo"
							style="background-image: url('img/Banner_Specialty.png');
									 background-size:100% 100%;
									 border-top-left-radius: 10px;
									 border-top-right-radius: 10px"></div><!--圖片-->
						<div class="Box-RightContance-Group-TitleBox">
							 <span class="Font-Box-RightContance-Group-TitleBox"></span>
						</div> 
						<div class="Box-RightContance-Group-ContanceBox">
							<span class="Font-Box-RightContance-Group-ContanceBox">2</span>
						</div>
						<a	class="Box-RightContance-Group-Func"
							style="top:0px;"
							href="Room_List.html"></a>  
					</div>
					
					<!--社交-->
					<div class="Box-RightContance-Group-Func"
						 id="Box-RightContance-Group-FuncC">

						<div class="Box-RightContance-Group-Photo"
							style="background-image: url('img/Bannner_Communication.png');
									 background-size:100% 100%;
									 border-top-left-radius: 10px;
									 border-top-right-radius: 10px"></div><!--圖片-->
						<div class="Box-RightContance-Group-TitleBox">
							 <span class="Font-Box-RightContance-Group-TitleBox">3</span>
						</div> 
						<div class="Box-RightContance-Group-ContanceBox"
							 style="top:260px;">
							<span class="Font-Box-RightContance-Group-ContanceBox">3</span>
						</div> 
						<a	class="Box-RightContance-Group-Func"
							style="top:0px;"
							href="Room_List.html"></a> 
					</div>
					
					<!--活動-->
					<div class="Box-RightContance-Group-Func"
						 id="Box-RightContance-Group-FuncD">

						<div class="Box-RightContance-Group-Photo"
							style="background-image: url('img/Banner_Activity.png');
									 background-size:100% 100%;
									 border-top-left-radius: 10px;
									 border-top-right-radius: 10px"></div><!--圖片-->
						<div class="Box-RightContance-Group-TitleBox">
							 <span class="Font-Box-RightContance-Group-TitleBox">4</span>
						</div> 
						<div class="Box-RightContance-Group-ContanceBox">
							<span class="Font-Box-RightContance-Group-ContanceBox">4</span>
						</div> 
						<a	class="Box-RightContance-Group-Func"
							style="top:0px;"
							href="Room_List.html"></a> 
					</div>

					<!--運動-->
					<div class="Box-RightContance-Group-Func"
						 id="Box-RightContance-Group-FuncE">

						<div class="Box-RightContance-Group-Photo"
							style="background-image: url('img/Banner_Sport.png');
									 background-size:100% 100%;
									 border-top-left-radius: 10px;
									 border-top-right-radius: 10px"></div><!--圖片-->
						<div class="Box-RightContance-Group-TitleBox">
							 <span class="Font-Box-RightContance-Group-TitleBox"></span>
						</div> 
						<div class="Box-RightContance-Group-ContanceBox">
							<span class="Font-Box-RightContance-Group-ContanceBox">5</span>
						</div> 
						<a	class="Box-RightContance-Group-Func"
							style="top:0px;"
							href="Room_List.html"></a> 
					</div>	 

					<!--其他-->
					<div class="Box-RightContance-Group-Func"
						 id="Box-RightContance-Group-FuncF">

						<div class="Box-RightContance-Group-Photo"
							style="background-image: url('img/Banner_Others.png');
									 background-size:100% 100%;
									 border-top-left-radius: 10px;
									 border-top-right-radius: 10px"></div><!--圖片-->
						<div class="Box-RightContance-Group-TitleBox">
							 <span class="Font-Box-RightContance-Group-TitleBox">6</span>
						</div> 
						<div class="Box-RightContance-Group-ContanceBox">
							<span class="Font-Box-RightContance-Group-ContanceBox">6</span>
						</div> 
						<a	class="Box-RightContance-Group-Func"
							style="top:0px;"
							href="Room_List.html"></a> 
					</div>	

				</div>

				<!--水平分割線-->
				<div class="Box-hr" id="Box-hrB"></div>

				<!--分組標題box-->
				<div class="Box-RightContance-Home_Title"
					 id="Box-RightContance-Home_TitleB">
				<!--標題B-->
					<span class="Font-Home-Title">FROM YOUR PICKS</span>
					<span	class="Font-Home-Title"
							style="font-size:50px;
									top:13px;
									left:290px;"> > </span>

				</div>

				<div class="Box-RightContance-Group"
					 id="Box-RightContance-GroupB">
					<span style="text-align: center;
								 font-size: 50px;">More Information, Stay tuned！</span>
				</div>

			</div>
		</div>


	</div>

	
	
</body>
</html>