<!DOCTYPE html>
<html>
<head>
	<!-- 網站初始化&標題定義 -->
	<title>情緒監控首頁</title>

	<meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="format-detection" content="telephone = no" />
	<meta name="keywords"  content="分組、交友、同好、專題討論" />
	<meta name="description" content="" />
	
	<!-- 快捷 & 收藏 圖標宣告 -->
		<!--
		<link 	rel="shortcut icon" 
				href="" 
				type="image/x-icon" />
						
		<link 	rel="Bookmark" 
				href="" />
		-->

	<!-- CSS引用宣告 -->
	<link href="css\Button.css" rel="stylesheet" type="text/css" /><!--按鈕-->
	<link href="css\Box.css" rel="stylesheet" type="text/css" /><!--框架-->
	<link href="css\font.css" rel="stylesheet" type="text/css" /><!--字體形-->
	<link href="\css\ScreenRegulator.css" rel="stylesheet" type="text/css" /><!--屏幕適應-->

	<!-- Js引用宣告 -->
	<script type="text/javascript" language="javascript" src="js\Button-A.js"></script>
	<script type="text/javascript" language="javascript" src="js\Button-D.js"></script>
</head>

<body>
	<!-- 頂部Box -->
	<header class="Box-Top_Index">

		<!-- Top功能欄 -->
		<div class="Box-Top_mainContance">

			<div class="Box-mainContance_Function-Logo_box">
				Logo圖&首頁連結Box
			</div>

			<div class="Box-mainContance_Function-Link_box" id="Box-mainContance_Function-LinkA">
				<span style="top:0px;
							 left: 0px;
							 position: absolute;">功能A</span>
			</div>

			<div class="Box-mainContance_Function-Link_box" id="Box-mainContance_Function-LinkB"
				 style="top:0px">
				<span style="top:0px;
							 left: 0px;
							 position: absolute;">功能B</span>
			</div>

			<div class="Box-mainContance_Function-Link_box" id="Box-mainContance_Function-LinkC"
				 style="top:-30px">
				<span style="top:0px;
							 left: 0px;
							 position: absolute;">功能C</span>
			</div>

			<div class="Box-mainContance_Function-Link_box" id="Box-mainContance_Function-LinkD"
				 style="top:-60px">
				<span style="top:0px;
							 left: 0px;
							 position: absolute;">功能D</span>
			</div>

		</div>

		

	</header>

	<!-- 整體Box -->
	<div class = "Box-Body">

		<!-- 內容 -->
		<div class="Box-mainContance"
			 style="background-color:blueviolet;
					 height: 1300px;"><!--Debug-->
					 
			<!-- 內容_1 -->
			<div class="Box-mainContance_LR-box"
				 style="height:1000px">
		
				<!-- Main Left -->
				<div class="Box-main_Box"
					 style="height:580px">
					Testing Left
				</div>

				<!--間隙預留-->	
				<div class="Box-main_height"
					 style="width:20px; 
					 		height:580px;
					 		float: left;
							background-color: rgb(243, 192, 192);">
				</div>

				<!-- Main Right -->
				<div class="Box-main_Box"
					 style="height:580px">
					Testing Right
				</div>
				
			</div>

		</div>
		<!-- ********************************************* -->

		<!-- 內容 -->
		<div class= "Box-mainContance">

			<!-- 內容_2 -->
			<div class="Box-mainContance_LR-box"
				 style="top:-700px;
				 		position: relative;">
				
				<!-- Main Left -->
				<div class="Box-main_Box"
					 style="height:580px">
					Testing Left
				</div>

				<!--間隙預留-->	
				<div class="Box-main_height"
					 style="width:20px; 
					 		height:580px;
					 		float: left;
							background-color: rgb(243, 192, 192);">
				</div>

				<!-- Main Right -->
				<div class="Box-main_Box"
					 style="height:580px">
					Testing Right
				</div>
				
			</div>
		</div>
		<!-- ********************************************* -->

		<!--測試-->
		<span class="Stand-Font_Testing">
			預留間隙
		</span>

		

		<!--底部功能-->
		<div class="Box-Bottom">	
			<!--回饋&功能欄-->
			<div class="Box-Bottom_Index">
				<!--測試-->
				<span class="Stand-Font_Testing">
					Box-Bottom_Index
				</span>
			</div>
			
			<!--版權欄-->
			<div class="Box-Bottom_CopyRight">
				Box-Bottom_CopyRight
			</div>
		</div>

	</div>

	
	
</body>
</html>